<h2>Hola {{name}}!</h2>
<h3>Ingresa tu nueva contraseña:</h3>
<input type="password" id="password" placeholder="Contraseña" />
<input type="password" id="repeatPassword" placeholder="Repite la contraseña" />
<button id="accept">Aceptar</button>

<script>
    const button = document.getElementById('accept');
    const password = document.getElementById('password');
    const repeatPassword = document.getElementById('repeatPassword');
    button.onclick = async () => {
        const payload = { token: window.location.pathname.replace('/password/change/', ''), password: password.value, repeatPassword: repeatPassword.value }
        const responseRaw = await fetch('/api/users/password/change', { 
            method: 'POST',
            headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
            body: JSON.stringify(payload) 
        });
        const response = await responseRaw.json();
        alert(response.message);
    }
</script>